{% extends 'base.html' %}

{% block title %}
    {{ _('Регистрация') }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    .registration-container {
        width: calc(100% - 22px);
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .error-message {
        color: #dc3545;
    }
    .invalid .error-message {
        display: block;
    }
    .btn-block {
        margin-top: 20px;
    }
    /* Additional styles for consistency */
    .form-control {
        font-size: 0.9rem;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
    }
    .form-check-label {
        margin-top: 0.5rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="registration-container">
    <h2 class="text-center">{{ _('Регистрация') }}</h2>
    <form action="{{ url_for('register') }}" method="post" id="registrationForm" class="needs-validation" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="{{ _('Ник') }}" pattern="[A-Za-z0-9]+" title="{{ _('Ник может содержать только латинские буквы и цифры') }}" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="{{ _('Пароль') }}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="{{ _('Пароль должен содержать хотя бы одну цифру, одну прописную и строчную буквы, и быть длиной не менее 8 символов') }}" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="confirmPassword" placeholder="{{ _('Подтвердите пароль') }}" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="{{ _('Имя') }}" required>
        </div>
        <div class="form-group">
            <select class="form-control" name="native_language" id="nativeLanguage" required onchange="excludeLanguage()">
                <option value="" disabled selected>{{ _('Выберите родной язык') }}</option>
                <option value="Deutsch">Deutsch 🇩🇪</option>
                <option value="English">English 🇬🇧</option>
                <option value="Русский">Русский 🇷🇺</option>
                <option value="Español">Español 🇪🇸</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="target_language" id="targetLanguage" required>
                <option value="" disabled selected>{{ _('Выберите язык для изучения') }}</option>
                <option value="Deutsch">Deutsch 🇩🇪</option>
                <option value="English">English 🇬🇧</option>
                <option value="Русский">Русский 🇷🇺</option>
                <option value="Español">Español 🇪🇸</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">{{ _('Зарегистрироваться') }}</button>
    </form>
    <p id="passwordError" class="error-message" style="display: none;">{{ _('Пароли не совпадают.') }}</p>
    <p id="languageError" class="error-message" style="display: none;">{{ _('Родной и изучаемый языки не могут совпадать.') }}</p>
    {% if username_exists %}
        <p class="error-message">{{ _('Имя пользователя уже занято. Пожалуйста, выберите другое имя пользователя.') }}</p>
    {% endif %}
</div>
<script>
    const registrationForm = document.getElementById('registrationForm');
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const passwordError = document.getElementById('passwordError');
    const nativeLanguageSelect = document.getElementById('nativeLanguage');
    const targetLanguageSelect = document.getElementById('targetLanguage');
    const languageError = document.getElementById('languageError');

    function validatePassword() {
        if (passwordInput.value !== confirmPasswordInput.value) {
            passwordError.style.display = 'block';
            registrationForm.classList.add('invalid');
        } else {
            passwordError.style.display = 'none';
            registrationForm.classList.remove('invalid');
        }
    }

    function checkLanguages() {
        if (nativeLanguageSelect.value === targetLanguageSelect.value) {
            languageError.style.display = 'block';
            registrationForm.classList.add('invalid');
        } else {
            languageError.style.display = 'none';
            registrationForm.classList.remove('invalid');
        }
    }

    passwordInput.addEventListener('change', validatePassword);
    confirmPasswordInput.addEventListener('keyup', validatePassword);
    nativeLanguageSelect.addEventListener('change', checkLanguages);
    targetLanguageSelect.addEventListener('change', checkLanguages);
</script>
{% endblock %}